<!-- <table>
  <tr>
    <th>_id</th>
    <th>titleType</th>
    <th>primaryTitle</th>
    <th>originalTitle</th>
    <th>isAdult</th>
    <th>startYear</th>
    <th>endYear</th>
    <th>runtimeMinutes</th>
    <th>genre_1</th>
    <th>genre_2</th>
    <th>genre_3</th>
    <th>averageRating</th>
    <th>numVotes</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>   -->

<!-- <form>
	<div class="mb-3 row">
		<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
		<div class="col-xs-3 col-sm-auto">
			<input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
		</div>
	</div>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">._id</th>
			<th scope="col">titleType</th>
			<th scope="col">primaryTitle</th>
			<th scope="col">originalTitle</th>
			<th scope="col">isAdult</th>
      <th scope="col">startYear</th>
      <th scope="col">endYear</th>
      <th scope="col">runtimeMinutes</th>
      <th scope="col">genre_1</th>
      <th scope="col">genre_2</th>
      <th scope="col">genre_3</th>
      <th scope="col">averageRating</th>
      <th scope="col">numVotes</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let title of titles$ | async; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td><ngb-highlight [result]="title._id" [term]="filter.value"></ngb-highlight></td>
			<td><ngb-highlight [result]="title.titleType" [term]="filter.value"></ngb-highlight></td>
			<td><ngb-highlight [result]="title.primaryTitle" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.originalTitle" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.isAdult" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.startYear" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.endYear" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.runtimeMinutes" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.genre_1" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.genre_2" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.genre_3" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.averageRating" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="title.numVotes" [term]="filter.value"></ngb-highlight></td>

    </tr>
	</tbody>
</table> -->

<router-outlet></router-outlet>